.login__container {
  align-items: center;
  background-color: var(--input);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

img {
  height: 200px;
  width: 300px;
}

.login__wrapper {
  background-color: var(--input);
  height: 400px;
  width: 300px;
}

h1 , p {
  text-align: center;
}
