.login__container {
  align-items: center;
  background-color: var(--headline);
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.login__container img {
  height: 170px;
  width: 270px;
}

.login__wrapper {
  height: 400px;
  width: 300px;
}

/* h1 , p {
  text-align: center;
} */

input {
  margin-bottom: 4px;
}

button {
  margin-top: 24px;
}
